<style>
 
  .search-inp {
    border-radius: 25px;
    padding: 0.5rem 2rem ;
     padding-left: 50px;                
    padding-right: 50px;  
    box-shadow: 0 0 5px transparent;
    width: 100%; 
    max-width: 800px; 
  }
  
  .search-inp::placeholder {
    font-size: 14px;                   
    color: #999;                       
}

  .search-inp:focus {
    box-shadow: 0 0 5px rgba(244, 167, 49, 0.4); 
    outline: none;
    transition: box-shadow 0.2s ease;
  } 

   .search-bar-btn {
    background-color: #F6AE2D;
    color: #fff;
    border-radius: 25px;
    padding: 0 1rem 0 1rem;
  }

  .search-bar-btn i {
    display: inline;
    margin-right: 0.5rem;
  }

  .search-bar-btn:active {
    background-color: #A0C1D1;
  }

  .search-bar-btn:hover {
    background-color: #A0C1D1;
  }
  
</style>

<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="/listings"><i class="fa-regular fa-compass rotate-icon"></i></a>
      <button class="navbar-toggler" 
      type="button" 
      data-bs-toggle="collapse" 
      data-bs-target="#navbarNavAltMarkup" 
      aria-controls="navbarNavAltMarkup" 
      >
      <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="search-link nav-link" href="/listings"><b>Explore</b></a>
        </div>

        <div class="navbar-nav ms-auto position-relative" style=" max-width: 820px;">
          <form action="/listings/search" class="d-flex justify-content-end" role="search">
            <input name="q" class="form-control me-2 search-inp" type="search" placeholder="Find places, titles, countries">
            <button class="btn search-bar-btn" type="submit">
              <i class="fa-solid fa-magnifying-glass"></i><b>Search</b>
            </button>
          </form>
        </div>
          
        <div class="navbar-nav ms-auto">
          <a class="nav-link nav-home" href="/listings/new"><b>Airbnb your home</b></a>
          <% if(!currUser) { %>
          <a class="nav-link nav-home" aria-current="page" href="/signup"><b>SignUp</b></a>
          <a class="nav-link nav-home" aria-current="page" href="/login"><b>Login</b></a>
        <% } %>
        <% if(currUser) { %>
          <a class="nav-link" href="/logout"><b>Logout</b></a>
        <% } %>
       </div>
    </div>
  </nav>